=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class AppStoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Look up one public App Store application
    # Look up one public App Store application. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Numeric track id; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Boolean] :ratings Include ratings information.
    # @return [SuccessResponse]
    def app_store_app(opts = {})
      data, _status_code, _headers = app_store_app_with_http_info(opts)
      data
    end

    # Look up one public App Store application
    # Look up one public App Store application. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Numeric track id; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Boolean] :ratings Include ratings information.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_app_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_app ...'
      end
      # resource path
      local_var_path = '/v1/appstore/app'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'ratings'] = opts[:'ratings'] if !opts[:'ratings'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List applications by developer
    # List applications by developer. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param dev_id [String] public developer identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @return [SuccessResponse]
    def app_store_developer(dev_id, opts = {})
      data, _status_code, _headers = app_store_developer_with_http_info(dev_id, opts)
      data
    end

    # List applications by developer
    # List applications by developer. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param dev_id [String] public developer identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_developer_with_http_info(dev_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_developer ...'
      end
      # verify the required parameter 'dev_id' is set
      if @api_client.config.client_side_validation && dev_id.nil?
        fail ArgumentError, "Missing the required parameter 'dev_id' when calling AppStoreApi.app_store_developer"
      end
      # resource path
      local_var_path = '/v1/appstore/developer'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'devId'] = dev_id
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_developer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_developer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List applications from an iTunes collection
    # List applications from an iTunes collection. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :collection Provider collection constant.
    # @option opts [String] :category Provider category constant.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Integer] :num Number of applications; values outside 1..200 are rejected.
    # @option opts [Boolean] :full_detail Request detail enrichment.
    # @return [SuccessResponse]
    def app_store_list(opts = {})
      data, _status_code, _headers = app_store_list_with_http_info(opts)
      data
    end

    # List applications from an iTunes collection
    # List applications from an iTunes collection. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :collection Provider collection constant.
    # @option opts [String] :category Provider category constant.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Integer] :num Number of applications; values outside 1..200 are rejected.
    # @option opts [Boolean] :full_detail Request detail enrichment.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] > 200
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling AppStoreApi.app_store_list, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling AppStoreApi.app_store_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/appstore/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'collection'] = opts[:'collection'] if !opts[:'collection'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?
      query_params[:'fullDetail'] = opts[:'full_detail'] if !opts[:'full_detail'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read public App Store privacy details
    # Read public App Store privacy details. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] public application identifier.
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def app_store_privacy(id, opts = {})
      data, _status_code, _headers = app_store_privacy_with_http_info(id, opts)
      data
    end

    # Read public App Store privacy details
    # Read public App Store privacy details. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] public application identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_privacy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_privacy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppStoreApi.app_store_privacy"
      end
      # resource path
      local_var_path = '/v1/appstore/privacy'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_privacy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_privacy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read public app ratings
    # Read public app ratings. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @return [SuccessResponse]
    def app_store_ratings(opts = {})
      data, _status_code, _headers = app_store_ratings_with_http_info(opts)
      data
    end

    # Read public app ratings
    # Read public app ratings. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_ratings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_ratings ...'
      end
      # resource path
      local_var_path = '/v1/appstore/ratings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_ratings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_ratings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a page of public app reviews
    # Read a page of public app reviews. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [Integer] :page Review page; values outside 1..10 are rejected.
    # @option opts [String] :sort Provider review sort constant.
    # @return [SuccessResponse]
    def app_store_reviews(opts = {})
      data, _status_code, _headers = app_store_reviews_with_http_info(opts)
      data
    end

    # Read a page of public app reviews
    # Read a page of public app reviews. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [Integer] :page Review page; values outside 1..10 are rejected.
    # @option opts [String] :sort Provider review sort constant.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_reviews ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_reviews, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/appstore/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search public App Store applications by term
    # Search public App Store applications by term. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :num Number of results; values outside 1..50 are rejected.
    # @option opts [Integer] :page Result page.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Boolean] :ids_only Return ids without detail lookups.
    # @return [SuccessResponse]
    def app_store_search(term, opts = {})
      data, _status_code, _headers = app_store_search_with_http_info(term, opts)
      data
    end

    # Search public App Store applications by term
    # Search public App Store applications by term. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :num Number of results; values outside 1..50 are rejected.
    # @option opts [Integer] :page Result page.
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :lang Language code.
    # @option opts [Boolean] :ids_only Return ids without detail lookups.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_search_with_http_info(term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_search ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling AppStoreApi.app_store_search"
      end
      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] > 50
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling AppStoreApi.app_store_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'num'].nil? && opts[:'num'] < 1
        fail ArgumentError, 'invalid value for "opts[:"num"]" when calling AppStoreApi.app_store_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_search, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AppStoreApi.app_store_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/appstore/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'idsOnly'] = opts[:'ids_only'] if !opts[:'ids_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List apps related to an application
    # List apps related to an application. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @return [SuccessResponse]
    def app_store_similar(opts = {})
      data, _status_code, _headers = app_store_similar_with_http_info(opts)
      data
    end

    # List apps related to an application
    # List apps related to an application. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id public application identifier; provide this or appId.
    # @option opts [String] :app_id Bundle id; provide this or id.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_similar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_similar ...'
      end
      # resource path
      local_var_path = '/v1/appstore/similar'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_similar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_similar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suggest public App Store search terms
    # Suggest public App Store search terms. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def app_store_suggest(term, opts = {})
      data, _status_code, _headers = app_store_suggest_with_http_info(term, opts)
      data
    end

    # Suggest public App Store search terms
    # Suggest public App Store search terms. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def app_store_suggest_with_http_info(term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreApi.app_store_suggest ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling AppStoreApi.app_store_suggest"
      end
      # resource path
      local_var_path = '/v1/appstore/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AppStoreApi.app_store_suggest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreApi#app_store_suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
