=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class GoogleMapsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def google_maps_place_details(place_id, opts = {})
      data, _status_code, _headers = google_maps_place_details_with_http_info(place_id, opts)
      data
    end

    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_maps_place_details_with_http_info(place_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleMapsApi.google_maps_place_details ...'
      end
      # verify the required parameter 'place_id' is set
      if @api_client.config.client_side_validation && place_id.nil?
        fail ArgumentError, "Missing the required parameter 'place_id' when calling GoogleMapsApi.google_maps_place_details"
      end
      # resource path
      local_var_path = '/v1/googlemaps/details/{place_id}'.sub('{' + 'place_id' + '}', CGI.escape(place_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GoogleMapsApi.google_maps_place_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleMapsApi#google_maps_place_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [SuccessResponse]
    def google_maps_place_reviews(place_id, opts = {})
      data, _status_code, _headers = google_maps_place_reviews_with_http_info(place_id, opts)
      data
    end

    # @param place_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_maps_place_reviews_with_http_info(place_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleMapsApi.google_maps_place_reviews ...'
      end
      # verify the required parameter 'place_id' is set
      if @api_client.config.client_side_validation && place_id.nil?
        fail ArgumentError, "Missing the required parameter 'place_id' when calling GoogleMapsApi.google_maps_place_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GoogleMapsApi.google_maps_place_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GoogleMapsApi.google_maps_place_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googlemaps/reviews/{place_id}'.sub('{' + 'place_id' + '}', CGI.escape(place_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GoogleMapsApi.google_maps_place_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleMapsApi#google_maps_place_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lat 
    # @option opts [String] :lng 
    # @option opts [String] :radius 
    # @return [SuccessResponse]
    def google_maps_search_places(query, opts = {})
      data, _status_code, _headers = google_maps_search_places_with_http_info(query, opts)
      data
    end

    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lat 
    # @option opts [String] :lng 
    # @option opts [String] :radius 
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_maps_search_places_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleMapsApi.google_maps_search_places ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleMapsApi.google_maps_search_places"
      end
      # resource path
      local_var_path = '/v1/googlemaps/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lng'] = opts[:'lng'] if !opts[:'lng'].nil?
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GoogleMapsApi.google_maps_search_places",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleMapsApi#google_maps_search_places\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
