=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class GoogleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param text [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :engines 
    # @option opts [String] :lang 
    # @option opts [String] :region 
    # @option opts [String] :date 
    # @option opts [String] :site 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :start 
    # @option opts [String] :cursor 
    # @return [SuccessResponse]
    def google_search(text, opts = {})
      data, _status_code, _headers = google_search_with_http_info(text, opts)
      data
    end

    # @param text [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :engines 
    # @option opts [String] :lang 
    # @option opts [String] :region 
    # @option opts [String] :date 
    # @option opts [String] :site 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :start 
    # @option opts [String] :cursor 
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_search_with_http_info(text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.google_search ...'
      end
      # verify the required parameter 'text' is set
      if @api_client.config.client_side_validation && text.nil?
        fail ArgumentError, "Missing the required parameter 'text' when calling GoogleApi.google_search"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GoogleApi.google_search, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GoogleApi.google_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] > 100
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling GoogleApi.google_search, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'start'].nil? && opts[:'start'] < 1
        fail ArgumentError, 'invalid value for "opts[:"start"]" when calling GoogleApi.google_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/web/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text'] = text
      query_params[:'engines'] = opts[:'engines'] if !opts[:'engines'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'site'] = opts[:'site'] if !opts[:'site'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GoogleApi.google_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#google_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
