=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class GooglePlayApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch a single Google Play app's public detail record
    # Fetch a single Google Play app's public detail record. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [SuccessResponse]
    def google_play_app_details(id, opts = {})
      data, _status_code, _headers = google_play_app_details_with_http_info(id, opts)
      data
    end

    # Fetch a single Google Play app&#39;s public detail record
    # Fetch a single Google Play app&#39;s public detail record. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_app_details_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_app_details ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_app_details"
      end
      # resource path
      local_var_path = '/v1/googleplay/app_details/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_app_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_app_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a Google Play app's per-storefront availability
    # Fetch a Google Play app's per-storefront availability. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :countries Comma-separated storefront codes.
    # @option opts [String] :language Language code.
    # @return [SuccessResponse]
    def google_play_availability(id, opts = {})
      data, _status_code, _headers = google_play_availability_with_http_info(id, opts)
      data
    end

    # Fetch a Google Play app&#39;s per-storefront availability
    # Fetch a Google Play app&#39;s per-storefront availability. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :countries Comma-separated storefront codes.
    # @option opts [String] :language Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_availability_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_availability ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_availability"
      end
      # resource path
      local_var_path = '/v1/googleplay/availability/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'countries'] = opts[:'countries'] if !opts[:'countries'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available Google Play category identifiers
    # List available Google Play category identifiers. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [SuccessResponse]
    def google_play_categories(opts = {})
      data, _status_code, _headers = google_play_categories_with_http_info(opts)
      data
    end

    # List available Google Play category identifiers
    # List available Google Play category identifiers. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_categories ...'
      end
      # resource path
      local_var_path = '/v1/googleplay/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch top public apps in a Google Play category
    # Fetch top public apps in a Google Play category. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param category [String] Google Play category identifier (e.g. GAME, SHOPPING).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [SuccessResponse]
    def google_play_category_apps(category, opts = {})
      data, _status_code, _headers = google_play_category_apps_with_http_info(category, opts)
      data
    end

    # Fetch top public apps in a Google Play category
    # Fetch top public apps in a Google Play category. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param category [String] Google Play category identifier (e.g. GAME, SHOPPING).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_category_apps_with_http_info(category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_category_apps ...'
      end
      # verify the required parameter 'category' is set
      if @api_client.config.client_side_validation && category.nil?
        fail ArgumentError, "Missing the required parameter 'category' when calling GooglePlayApi.google_play_category_apps"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_category_apps, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_category_apps, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/category_apps/{category}'.sub('{' + 'category' + '}', CGI.escape(category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_category_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_category_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a Google Play app's declared data-safety disclosure
    # Fetch a Google Play app's declared data-safety disclosure. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [SuccessResponse]
    def google_play_data_safety(id, opts = {})
      data, _status_code, _headers = google_play_data_safety_with_http_info(id, opts)
      data
    end

    # Fetch a Google Play app&#39;s declared data-safety disclosure
    # Fetch a Google Play app&#39;s declared data-safety disclosure. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_data_safety_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_data_safety ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_data_safety"
      end
      # resource path
      local_var_path = '/v1/googleplay/data_safety/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_data_safety",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_data_safety\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch public apps published by a Google Play developer
    # Fetch public apps published by a Google Play developer. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param dev_id [String] Google Play developer id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [SuccessResponse]
    def google_play_developer(dev_id, opts = {})
      data, _status_code, _headers = google_play_developer_with_http_info(dev_id, opts)
      data
    end

    # Fetch public apps published by a Google Play developer
    # Fetch public apps published by a Google Play developer. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param dev_id [String] Google Play developer id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_developer_with_http_info(dev_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_developer ...'
      end
      # verify the required parameter 'dev_id' is set
      if @api_client.config.client_side_validation && dev_id.nil?
        fail ArgumentError, "Missing the required parameter 'dev_id' when calling GooglePlayApi.google_play_developer"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_developer, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_developer, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/developer'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dev_id'] = dev_id
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_developer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_developer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a Google Play app's declared permissions
    # Fetch a Google Play app's declared permissions. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [SuccessResponse]
    def google_play_permissions(id, opts = {})
      data, _status_code, _headers = google_play_permissions_with_http_info(id, opts)
      data
    end

    # Fetch a Google Play app&#39;s declared permissions
    # Fetch a Google Play app&#39;s declared permissions. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_permissions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_permissions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_permissions"
      end
      # resource path
      local_var_path = '/v1/googleplay/permissions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch public reviews for a Google Play app
    # Fetch public reviews for a Google Play app. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @option opts [Integer] :sort Upstream review sort order.
    # @option opts [Integer] :score Filter reviews to this star rating (1..5).
    # @option opts [String] :next_token Pagination token from a previous reviews response.
    # @return [SuccessResponse]
    def google_play_reviews(id, opts = {})
      data, _status_code, _headers = google_play_reviews_with_http_info(id, opts)
      data
    end

    # Fetch public reviews for a Google Play app
    # Fetch public reviews for a Google Play app. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @option opts [Integer] :sort Upstream review sort order.
    # @option opts [Integer] :score Filter reviews to this star rating (1..5).
    # @option opts [String] :next_token Pagination token from a previous reviews response.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_reviews_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_reviews ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_reviews, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_reviews, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'score'].nil? && opts[:'score'] > 5
        fail ArgumentError, 'invalid value for "opts[:"score"]" when calling GooglePlayApi.google_play_reviews, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'score'].nil? && opts[:'score'] < 1
        fail ArgumentError, 'invalid value for "opts[:"score"]" when calling GooglePlayApi.google_play_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/reviews/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'score'] = opts[:'score'] if !opts[:'score'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search public Google Play applications by term
    # Search public Google Play applications by term. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [SuccessResponse]
    def google_play_search(term, opts = {})
      data, _status_code, _headers = google_play_search_with_http_info(term, opts)
      data
    end

    # Search public Google Play applications by term
    # Search public Google Play applications by term. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_search_with_http_info(term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_search ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling GooglePlayApi.google_play_search"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_search, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch apps similar to a given Google Play package
    # Fetch apps similar to a given Google Play package. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [SuccessResponse]
    def google_play_similar_apps(id, opts = {})
      data, _status_code, _headers = google_play_similar_apps_with_http_info(id, opts)
      data
    end

    # Fetch apps similar to a given Google Play package
    # Fetch apps similar to a given Google Play package. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param id [String] Google Play package id (e.g. com.nike.snkrs).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_similar_apps_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_similar_apps ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GooglePlayApi.google_play_similar_apps"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_similar_apps, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_similar_apps, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/similar_apps/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_similar_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_similar_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch Google Play search-term suggestions
    # Fetch Google Play search-term suggestions. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [SuccessResponse]
    def google_play_suggest(term, opts = {})
      data, _status_code, _headers = google_play_suggest_with_http_info(term, opts)
      data
    end

    # Fetch Google Play search-term suggestions
    # Fetch Google Play search-term suggestions. Returns the normalized public contract; raw provider records are internal to the runtime boundary and never cross the public gateway.
    # @param term [String] Search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Two-letter storefront code.
    # @option opts [String] :language Language code.
    # @option opts [Integer] :limit Maximum number of results; values outside 1..50 are rejected.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def google_play_suggest_with_http_info(term, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GooglePlayApi.google_play_suggest ...'
      end
      # verify the required parameter 'term' is set
      if @api_client.config.client_side_validation && term.nil?
        fail ArgumentError, "Missing the required parameter 'term' when calling GooglePlayApi.google_play_suggest"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_suggest, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling GooglePlayApi.google_play_suggest, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/googleplay/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'term'] = term
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GooglePlayApi.google_play_suggest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GooglePlayApi#google_play_suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
