=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class TiktokApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def tiktok_post(id, opts = {})
      data, _status_code, _headers = tiktok_post_with_http_info(id, opts)
      data
    end

    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def tiktok_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_post"
      end
      # resource path
      local_var_path = '/v1/tiktok/post/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param handle [String] 
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def tiktok_user(handle, opts = {})
      data, _status_code, _headers = tiktok_user_with_http_info(handle, opts)
      data
    end

    # @param handle [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def tiktok_user_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_user ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling TiktokApi.tiktok_user"
      end
      # resource path
      local_var_path = '/v1/tiktok/user/{handle}'.sub('{' + 'handle' + '}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param handle [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [SuccessResponse]
    def tiktok_user_posts(handle, opts = {})
      data, _status_code, _headers = tiktok_user_posts_with_http_info(handle, opts)
      data
    end

    # @param handle [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @option opts [String] :cursor 
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def tiktok_user_posts_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_user_posts ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling TiktokApi.tiktok_user_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TiktokApi.tiktok_user_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling TiktokApi.tiktok_user_posts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/tiktok/user_posts/{handle}'.sub('{' + 'handle' + '}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_user_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_user_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
