=begin
#ReplyNodes Fetcher API

#SDK contract for ReplyNodes public, read-only data operations. Every SDK operation is an authenticated HTTP GET.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ReplyNodesGenerated
  class WebApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract public brand identity for a site
    # Extract logos, colors, fonts, and basic public metadata for a site's brand identity.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def web_brand(url, opts = {})
      data, _status_code, _headers = web_brand_with_http_info(url, opts)
      data
    end

    # Extract public brand identity for a site
    # Extract logos, colors, fonts, and basic public metadata for a site&#39;s brand identity.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def web_brand_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.web_brand ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling WebApi.web_brand"
      end
      # resource path
      local_var_path = '/v1/webcontext/brand'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebApi.web_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#web_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crawl same-origin links from a URL
    # Crawl same-origin links starting from a URL and return normalized page results. max_pages/max_depth are clamped server-side regardless of the requested value.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_pages Maximum pages to crawl; clamped to 1..50.
    # @option opts [Integer] :max_depth Maximum link depth; clamped to 1..3.
    # @return [SuccessResponse]
    def web_crawl(url, opts = {})
      data, _status_code, _headers = web_crawl_with_http_info(url, opts)
      data
    end

    # Crawl same-origin links from a URL
    # Crawl same-origin links starting from a URL and return normalized page results. max_pages/max_depth are clamped server-side regardless of the requested value.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_pages Maximum pages to crawl; clamped to 1..50.
    # @option opts [Integer] :max_depth Maximum link depth; clamped to 1..3.
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def web_crawl_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.web_crawl ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling WebApi.web_crawl"
      end
      if @api_client.config.client_side_validation && !opts[:'max_pages'].nil? && opts[:'max_pages'] > 50
        fail ArgumentError, 'invalid value for "opts[:"max_pages"]" when calling WebApi.web_crawl, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_pages'].nil? && opts[:'max_pages'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_pages"]" when calling WebApi.web_crawl, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_depth'].nil? && opts[:'max_depth'] > 3
        fail ArgumentError, 'invalid value for "opts[:"max_depth"]" when calling WebApi.web_crawl, must be smaller than or equal to 3.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_depth'].nil? && opts[:'max_depth'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_depth"]" when calling WebApi.web_crawl, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/webcontext/crawl'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'max_pages'] = opts[:'max_pages'] if !opts[:'max_pages'].nil?
      query_params[:'max_depth'] = opts[:'max_depth'] if !opts[:'max_depth'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebApi.web_crawl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#web_crawl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discover URLs belonging to a site
    # Discover URLs belonging to a site without extracting page content. Results are deduplicated.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @return [SuccessResponse]
    def web_map(url, opts = {})
      data, _status_code, _headers = web_map_with_http_info(url, opts)
      data
    end

    # Discover URLs belonging to a site
    # Discover URLs belonging to a site without extracting page content. Results are deduplicated.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def web_map_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.web_map ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling WebApi.web_map"
      end
      # resource path
      local_var_path = '/v1/webcontext/map'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebApi.web_map",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#web_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch one URL as clean Markdown
    # Fetch one URL and return clean, main-content Markdown plus normalized metadata, links, and images. Backed by a privately deployed webclaw-server instance; upstream implementation details are never exposed.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_selectors Comma-separated CSS selectors to include (e.g. \&quot;article,.content\&quot;).
    # @option opts [String] :exclude_selectors Comma-separated CSS selectors to exclude (e.g. \&quot;nav,.sidebar,footer\&quot;).
    # @return [SuccessResponse]
    def web_scrape(url, opts = {})
      data, _status_code, _headers = web_scrape_with_http_info(url, opts)
      data
    end

    # Fetch one URL as clean Markdown
    # Fetch one URL and return clean, main-content Markdown plus normalized metadata, links, and images. Backed by a privately deployed webclaw-server instance; upstream implementation details are never exposed.
    # @param url [String] Target URL to fetch. Rejected if it is malformed, uses a disallowed scheme, or resolves to a private/loopback/link-local/cloud-metadata address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_selectors Comma-separated CSS selectors to include (e.g. \&quot;article,.content\&quot;).
    # @option opts [String] :exclude_selectors Comma-separated CSS selectors to exclude (e.g. \&quot;nav,.sidebar,footer\&quot;).
    # @return [Array<(SuccessResponse, Integer, Hash)>] SuccessResponse data, response status code and response headers
    def web_scrape_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.web_scrape ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling WebApi.web_scrape"
      end
      # resource path
      local_var_path = '/v1/webcontext/scrape'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'include_selectors'] = opts[:'include_selectors'] if !opts[:'include_selectors'].nil?
      query_params[:'exclude_selectors'] = opts[:'exclude_selectors'] if !opts[:'exclude_selectors'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebApi.web_scrape",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#web_scrape\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
